@charset "UTF-8";


#fundo {
    margin: 0px;
    height: 100vh;
    background-image: url(../images/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#frente {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vh;
}   

#media {
    float: right;
}

.social {
   border-radius: 50%;
   width: 50px;
   margin: 10px;
   box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.385);
   
}


iframe#frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
 
