@charset "UTF-8";

/* Mobile */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {   
    background-color: #603381;
}

article {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 270px; 
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.326)
}

div#conteudo {
    display: block;
    padding: 10px;
}

div#conteudo > h1 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 2em;

}

div#conteudo > p {
    font-size: 0.8em;
    padding-bottom: 10px;
} 

div#imagem {
    border-radius: 10px 10px 0px 0px;
    background-image: url(../images/oceam.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin: 0px;
}

.campo {
    
    background-color: #603381;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
}

label {
    position: fixed;       
}


#iemail, #isenha {
    width: 215px;
    height: 25px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: #92D0C9;
}


.material-symbols-outlined {
    font-size: 25px;
    color: white;
}

#entrar{   
    width: 100%; 
    padding: 8px;
    background-color: #51AAA5;
    border: 1px transparent;
    border-radius: 5px;
    color: white;
}


#esqueci {
    border-radius: 5px;
    margin-top: 3px;
    color: #377e76;
    background-color: white;
    display: block;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #4ca39d74;
    text-align: center;  
    background-color: white;
}

#esqueci:hover, #entrar:hover {
    background-color: #29655C;
    color: black;
}

.campo:hover {
    background-color: #361d48;
}